/* login-component.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5; /* Light background */
    padding: 20px;
  }
  
  .login-form {
    width: 300px; /* Adjust width as needed */
    background-color: #fff; /* White form background */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .login-input:focus {
    outline: none;
    border-color: #007bff; /* Blue border on focus */
  }
  
  .login-button {
    width: 100%;
    padding: 10px 15px;
    background-color: #007bff; /* Blue button color */
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0069d9; /* Darker blue on hover */
  }
  